/* 
  Name: Nathan Meyer
  File Name: Styles
  Date: 9/28/2025 
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

#css1,
#css2,
#css3 {
    width: calc(100% / 3);
    float: left;
    padding: 0 1%;
}

/* Body */
body {
    padding: 2%;
    background-color: #d1d1e0;
}

/* Header */
header h1 {
    font-size: 3em;
    font-family: Georgia, Times, serif;
    padding: 3%;
    text-align: center;
    color: #47476b;
}

/* Nav */
nav {
    background-color: #47476b;

    ul {
        margin: 0;
    }

    li {
        display: inline-block;
        font-size: 1.5em;
        font-family: Verdana, Arial, sans-serif;
        font-weight: bold;

        a {
            display: block;
            color: #e3eaf8;
            padding: 0.5em 2em;
            text-decoration: none;
        }
    }

}


/* Main */
main {
    padding: 2%;
    font-family: Geneva, Arial, sans-serif;
    overflow: auto;


    a {
        color: #47476b;
        text-decoration: none;
        font-style: italic;
        font-weight: bold;

        &:hover {
            text-decoration: underline;
            text-decoration-style: solid;
            text-decoration-color: #47476b;
            text-decoration-thickness: from-font;
            text-decoration-skip-ink: none;
            text-underline-offset: 3px;


        }
    }

    h3 {
        padding-top: 2%;
        font-size: 2em;
    }

    p {
        font-size: 1.25em;
    }
}


/* Footer */
footer {
    text-align: center;
    font-size: 0.85em;
    color: #47476b;
    padding: 1% 0;
    border-top: 3px solid #47476b;
}